# Android Studio captures folder
captures/

# Java class/bin files
*.class
*.bin

# Gradle files
.idea/
.gradle/
build/
app/build/
*.iml

# Local configuration file (sdk path, etc)
local.properties

# dex,apk
*.apk
*.ap_
*.dex